<!--Random Page-->
<!-- ^ that's the page title (since HTML pages don't have
       the metadata included in markdown pages) -->
<html>
<head>
	<title>{{title}}</title>
	{{include html-head.html}}
</head>
<body class="markdown-body">

{{include navbar.html}}


Some random HTML<br>

{{include footer.html}}

</body>
</html>
