<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ssgen - Full Documentation</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>
<body class="markdown-body">

<ul class="topnav" style="padding: 0;">
	<li class="left">
		<a href="index.html" style="padding-left: 0; font-size: 18px;">
			ssgen
		</a>
	</li>
	<li style="margin: 0;"><a href="full-guide.html">Full Documentation</a></li><li style="margin: 0;"><a href="quick-start.html">Quick Start</a></li>
</ul>
<!-- navigation list
The begin and end tags must be on their own lines.
{{begin_list navigation}}
<li style="margin: 0;"><a href="{{list element filename}}">{{list element title}}</a></li>
{{end_list navigation}}
-->


<h1>Full Documentation</h1>

<p>Complete the <a href="quick-start.html">quick start guide</a> first to get a working website.</p>
<p>The <code class="codehilite">publish</code> script in the root folder is an example of what you can put into your <a href="#build-hooks">post-build hook</a> to automatically copy the site to your webserver upon build. Delete it if you want to; the program does not depend on its presence.</p>
<hr>

<div class="toc">
<ul>
<li><a href="#content-structure">Content structure</a><ul>
<li><a href="#posts-and-pages">Posts and pages</a><ul>
<li><a href="#pages">Pages</a></li>
<li><a href="#urls">URLs</a></li>
<li><a href="#posts">Posts</a><ul>
<li><a href="#post-metadata">Post metadata</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#the-post-id">The post ID</a><ul>
<li><a href="#prepend-post-id">Prepend post ID</a><ul>
<li><a href="#prepend-id-during-build">Prepend ID during build</a></li>
<li><a href="#prepend-id-during-generation">Prepend ID during generation</a></li>
</ul>
</li>
<li><a href="#inter-post-links">Inter-post links</a></li>
</ul>
</li>
<li><a href="#organizing-resources">Organizing resources</a></li>
</ul>
</li>
<li><a href="#tags-and-the-archive">Tags and the Archive</a><ul>
<li><a href="#archive">Archive</a></li>
<li><a href="#tags">Tags</a><ul>
<li><a href="#examples">Examples</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#markdown-editor">Markdown editor</a></li>
<li><a href="#build-hooks">Build Hooks</a></li>
<li><a href="#config-file">Config file</a><ul>
<li><a href="#navigation-bar">Navigation bar</a></li>
</ul>
</li>
<li><a href="#markdown-extensions">Markdown extensions</a></li>
<li><a href="#templates">Templates</a><ul>
<li><a href="#template-files">Template files</a></li>
<li><a href="#available-templates">Available templates</a><ul>
<li><a href="#universal-templates">Universal templates</a></li>
<li><a href="#post-templates">Post templates</a></li>
<li><a href="#page-templates">Page templates</a></li>
<li><a href="#tag-and-archive-pages">Tag and archive pages</a></li>
</ul>
</li>
<li><a href="#list-expansion">List expansion</a></li>
<li><a href="#tag-prefix">Tag prefix</a></li>
</ul>
</li>
</ul>
</div>
<hr>

<h1 id="content-structure">Content structure</h1>
<h2 id="posts-and-pages">Posts and pages</h2>
<p>Content is divided into posts and pages. Posts go in the <code class="codehilite">content</code> folder, and pages go into <code class="codehilite">pages</code>. The <code class="codehilite">out</code> folder is flat, with no subdirectories - each page/post will be located at <code class="codehilite">example.com/url.html</code>.</p>
<h3 id="pages">Pages</h3>
<p>The pages folder must be flat - subdirectories will be ignored. Pages can be specified as markdown, with metadata initially generated by <code class="codehilite">ssgen.py</code>, or they can be given as HTML, in which case the title must be given on the first line: <code class="codehilite">&lt;!--Post Title--&gt;</code>.
The one exception is the homepage (<code class="codehilite">index.md</code> or <code class="codehilite">index.html</code>), which has no metadata. Its URL is always <code class="codehilite">index.html</code> and its title is specified in <code class="codehilite">config.ini</code>.</p>
<p>Non HTML/md files will simply be copied to <code class="codehilite">out/</code>.</p>
<h3 id="urls">URLs</h3>
<p>For both pages and posts, the default filename (which is the URL - <code class="codehilite"><span class="na">.md</span></code> turns into <code class="codehilite"><span class="na">.html</span></code>) is generated based on the title, with a custom override possible using the <kbd>URL</kbd> meta tag (exclude the <code class="codehilite"><span class="na">.html</span></code> extension from the URL). For pages given as HTML, there is no URL meta tag - the URL is the same as the filename.</p>
<p>Note: to change the characters allowed in auto-generated URLs, see the file <code class="codehilite">python/core/stringUtils.py</code>.</p>
<h3 id="posts">Posts</h3>
<p>Posts can only be given as markdown, with required metadata generated by <code class="codehilite">ssgen.py</code>. HTML files placed in <code class="codehilite">content</code> will still be copied to <code class="codehilite">out</code>, but metadata is not parsed from HTML, so while these files will still be accessible in <code class="codehilite">out/</code>, they may fail to integrate nicely with the rest of the blog.</p>
<h4 id="post-metadata">Post metadata</h4>
<p><code class="codehilite">ssgen.py</code> generates defaults for some metadata and allows for overrides. The default author is specified in <code class="codehilite">config.ini</code>, the default date is today, and the default URL is generated based on the post title. Tags for the post are given as a string of space-separated tag names, such as <code class="codehilite">tag1 tag_2 tag-3</code>. Tag names may or may not be case sensitive.</p>
<h2 id="the-post-id">The post ID</h2>
<p>Posts do have an order - each post has a previous and next post. Date is too coarse a metric to use for this purpose, and using creation time for this (in addition to date) did not seem like a good idea to me. Thus, each post has an ID. Post IDs start at 1 and increase. Post IDs can safely be skipped. <code class="codehilite">ssgen.py</code> by automatically finds the next post ID and uses it as the default, but a custom ID may be specified.</p>
<h3 id="prepend-post-id">Prepend post ID</h3>
<p>The <code class="codehilite">content</code> directory can have a structure, but since the <code class="codehilite">out</code> folder is flat, filename conflicts may occur during build. There are two options for alleviating this, available in the <kbd>base</kbd> section in <code class="codehilite">config.ini</code>. One is to prepend the post ID to filenames during build, and the other is to prepend the post ID to filenames upon post generation with <code class="codehilite">ssgen.py</code>.</p>
<h5 id="prepend-id-during-build">Prepend ID during build</h5>
<table>
<thead>
<tr>
<th>title</th>
<th>post ID</th>
<th>auto-generated filename</th>
<th>filename in content</th>
<th>filename in out</th>
</tr>
</thead>
<tbody>
<tr>
<td>Post 1</td>
<td>1</td>
<td>post-1.md</td>
<td>post-1.md</td>
<td>1-post-1.html</td>
</tr>
<tr>
<td>Second</td>
<td>2</td>
<td>second.md</td>
<td>second.md</td>
<td>2-second.html</td>
</tr>
</tbody>
</table>
<h5 id="prepend-id-during-generation">Prepend ID during generation</h5>
<table>
<thead>
<tr>
<th>title</th>
<th>post ID</th>
<th>auto-generated filename</th>
<th>filename in content</th>
<th>filename in out</th>
</tr>
</thead>
<tbody>
<tr>
<td>Post 1</td>
<td>1</td>
<td>1-post-1.md</td>
<td>1-post-1.md</td>
<td>1-post-1.html</td>
</tr>
<tr>
<td>Second</td>
<td>2</td>
<td>2-second.md</td>
<td>2-second.md</td>
<td>2-second.html</td>
</tr>
</tbody>
</table>
<h3 id="inter-post-links">Inter-post links</h3>
<p>Posts are linked to the next/previous post <a href="tag-post-one.html">(example)</a>, the <kbd>appearance</kbd> section in <code class="codehilite">config.ini</code> contains settings to control this behavior.</p>
<h2 id="organizing-resources">Organizing resources</h2>
<p>Having a directory structure setup in <code class="codehilite">content</code> for organizing posts &amp; their resources (images, etc.) may be useful. Everything will be unpacked into a single directory, so links should ignore subdirectories. To prevent filename conflicts, resource filenames should be prepended with the post ID or some other identifier.</p>
<p>For example, with the following structure:</p>
<div class="codehilite"><pre><span></span><span class="gd">--- content</span>
  |--- some_post.md   # post ID = 14
  |  |--- res
  |  |  |--- 14-cat.png
  |  |  |--- 14-dog.png
  |  |--- another_folder
  |  |  |--- another_post.md
</pre></div>


<p>The links in <code class="codehilite">some_post.md</code> should have the following format:</p>
<div class="codehilite"><pre><span></span><span class="o">!</span><span class="p">[</span><span class="n">cat</span><span class="p">](</span><span class="mi">14</span><span class="o">-</span><span class="n">cat</span><span class="p">.</span><span class="n">png</span><span class="p">)</span>
<span class="o">!</span><span class="p">[</span><span class="n">dog</span><span class="p">](</span><span class="mi">14</span><span class="o">-</span><span class="n">dog</span><span class="p">.</span><span class="n">png</span><span class="p">)</span>
<span class="o">!</span><span class="p">[</span><span class="n">read</span> <span class="n">this</span><span class="p">](</span><span class="n">another_post</span><span class="p">.</span><span class="n">md</span><span class="p">)</span>
<span class="cp"># res/ and another_folder/ are not included in the links</span>
</pre></div>


<h1 id="tags-and-the-archive">Tags and the Archive</h1>
<h2 id="archive">Archive</h2>
<p>If enabled in the <kbd>nav</kbd> section of <code class="codehilite">config.ini</code>, the page <a href="archives.html"><code class="codehilite">archives.html</code></a> will be generated, which contains a list of all posts. <code class="codehilite">config.ini</code> also contains a switch for the order of the pages list (newest first or oldest first).</p>
<h2 id="tags">Tags</h2>
<p>Posts can be given one or more tags. If enabled in the <kbd>nav</kbd> section of <code class="codehilite">config.ini</code>, tag pages will be generated which list all the posts in a tag. Tag pages have the url <code class="codehilite">tags/tag_name.html</code> (they are the only files to not be in the root <code class="codehilite">out</code> folder).</p>
<p>By default, posts will link to the tag pages for the tags they belong to. This can be changed in the post template.</p>
<p>As with the archive page, the order of the list can be controlled in <code class="codehilite">config.ini</code>.</p>
<h4 id="examples">Examples</h4>
<p>Posts with tags: <a href="tag-post-one.html">(1)</a> <a href="tag-post-two.html">(2)</a></p>
<p>Post without tag: <a href="first-post.html">(1)</a> (notice no tags listed next to the date)</p>
<p>Tag pages: <a href="tags/tag_one.html">(1)</a> <a href="tags/second-tag.html">(2)</a></p>
<h1 id="markdown-editor">Markdown editor</h1>
<p>If enabled in the <kbd>base</kbd> section of <code class="codehilite">config.ini</code>, the <a href="https://simplemde.com">SimpleMDE</a> markdown editor will be placed at the URL <a href="editor.html"><code class="codehilite">editor.html</code></a> to allow for easy content creation.</p>
<h1 id="build-hooks">Build Hooks</h1>
<p>The build process contains two steps:</p>
<ol>
<li><code class="codehilite">rm -r out/; mkdir out/</code></li>
<li>Build the site into <code class="codehilite">out</code></li>
</ol>
<p>Three empty scripts are provided in the <code class="codehilite">python</code> folder, execution occurs in the following order:</p>
<ol>
<li><kbd>pre_clean_hook.sh</kbd></li>
<li><code class="codehilite">rm -r out/; mkdir out/</code></li>
<li><kbd>pre_hook.sh</kbd></li>
<li>Build the site into <code class="codehilite">out</code></li>
<li><kbd>post_hook.sh</kbd></li>
</ol>
<h1 id="config-file">Config file</h1>
<p>Comments explain most options.</p>
<h2 id="navigation-bar">Navigation bar</h2>
<p>Two navigation bars can be specified; one appears when viewing pages and the other appears when viewing posts. These are in the <kbd>nav</kbd> section of <code class="codehilite">config.ini</code>. Pages to include in the navigation bar should be specified via the page filename, without the <code class="codehilite"><span class="na">.md</span></code> or <code class="codehilite"><span class="na">.html</span></code> extension, with pages separated by spaces.</p>
<p>This document is a page, and the page-page navbar used here is <code class="codehilite">quick-start full-guide</code>, to link to the <code class="codehilite">quick-start.md</code> and <code class="codehilite">full-guide.md</code> pages. If I also wanted to link to the &lsquo;About&rsquo; page, but only when viewing posts, the post-page navbar would be <code class="codehilite">quick-start full-guide about</code>. (This page&rsquo;s filename is <code class="codehilite">full-guide.md</code>, not <code class="codehilite">full-documentation.md</code>).</p>
<p>The site name, on the left side of the navbar, links to the homepage, but <code class="codehilite">index</code> can also be added to the navbar links. Setting <kbd>HomepageSelfLink</kbd> to <kbd>0</kbd> in the config file will prevent the homepage from appearing in the navbar of the homepage (but it will still be present on other pages).</p>
<h1 id="markdown-extensions">Markdown extensions</h1>
<p>Extensions are configured in the <code class="codehilite">python/core/md_builder.py</code> file, and many are enabled by default. <a href="extensions.txt">Here</a> is the relevant section of the file with defaults. To edit the enabled extensions, edit the <code class="codehilite">md_builder.py</code> file - remove the <code class="codehilite">#</code> to uncomment a line and enable it, or add a <code class="codehilite">#</code> to the beginning of a line to comment it and disable the extension.</p>
<p>If you do not plan to use math equations, you can remove the</p>
<div class="codehilite"><pre><span></span><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</pre></div>


<p>line from <code class="codehilite">templates/html-head.html</code>, so as to not load the MathJax library. This script is included by default because the Arithmatex extension is also enabled by default.</p>
<p>There are two emoji extensions, and both conflict with each other - only one can be enabled at a time. Neither is enabled by default; choose one if you want emoji support. Help is provided at the top of the <code class="codehilite">md_builder.py</code> file.</p>
<h1 id="templates">Templates</h1>
<h2 id="template-files">Template files</h2>
<p>The following templates are required in the <code class="codehilite">templates</code> folder:
<kbd>post.html</kbd> <kbd>page.html</kbd> <kbd>index.html</kbd> <kbd>tag.html</kbd> <kbd>archive.html</kbd></p>
<p>Any other files in the templates folder (other HTML, stylesheets, etc.) will also be copied into the <code class="codehilite">out</code> folder and can be linked to from templates. Subdirectories in the templates folder may or may not cause errors.</p>
<h2 id="available-templates">Available templates</h2>
<h3 id="universal-templates">Universal templates</h3>
<p>The following replacements will be made in any template file:</p>
<ul>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">include</span> <span class="nv">filename</span><span class="cp">}}</span><span class="x"></span></code> replaced with contents of <code class="codehilite">filename</code>; file extension must be specified. Only goes one level deep.</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">site</span> <span class="nv">title</span><span class="cp">}}</span><span class="x"></span></code> replaced with site name from config</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">title</span><span class="cp">}}</span><span class="x"></span></code> replaced with: post title, page title, homepage name from config, tag name, or &ldquo;Archives&rdquo;</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">default</span> <span class="nv">author</span><span class="cp">}}</span><span class="x"></span></code> replaced with default author specified in config</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">current</span> <span class="nv">year</span><span class="cp">}}</span><span class="x"></span></code> replaced with the current year</li>
<li>List <code class="codehilite">navigation</code> with <code class="codehilite">filename</code> name of HTML file (put this into href=&rdquo;&ldquo;) and <code class="codehilite">title</code> title of page</li>
</ul>
<p>(See <a href="#list-expansion">list expansion</a> section below)</p>
<h3 id="post-templates">Post templates</h3>
<p>Available in <kbd>post.html</kbd></p>
<ul>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">content</span><span class="cp">}}</span><span class="x"></span></code> replaced with compiled markdown</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">author</span><span class="cp">}}</span><span class="x"></span></code> replaced with author name for that post</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">date</span><span class="cp">}}</span><span class="x"></span></code> replaced with post date</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">next</span> <span class="nv">post</span><span class="cp">}}</span><span class="x"></span></code> and <code class="codehilite"><span class="cp">{{</span><span class="nv">prev</span> <span class="nv">post</span><span class="cp">}}</span><span class="x"></span></code> replaced with <code class="codehilite"><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;...&quot;</span><span class="nt">&gt;</span>text<span class="nt">&lt;/a&gt;</span></code> - links to next/previous post, see <kbd>appearance</kbd> section in config for options</li>
<li>List <code class="codehilite">tags</code> with elements = tag name (tag page URL = <code class="codehilite">&quot;tags/&quot; + tag name + &quot;.html&quot;</code>)</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">tags</span> <span class="nv">prefix</span><span class="cp">}}</span><span class="x"></span></code> see <a href="#tag-prefix">tag prefix</a> section below</li>
</ul>
<h3 id="page-templates">Page templates</h3>
<p>Available in <kbd>page.html</kbd></p>
<ul>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">homepage</span> <span class="nv">name</span><span class="cp">}}</span><span class="x"></span></code> replaced with homepage link name from config</li>
<li><code class="codehilite"><span class="cp">{{</span><span class="nv">content</span><span class="cp">}}</span><span class="x"></span></code> replaced with compiled markdown; replacement is not performed for pages given as HTML</li>
</ul>
<h3 id="tag-and-archive-pages">Tag and archive pages</h3>
<ul>
<li>List <code class="codehilite">posts</code> with <code class="codehilite">filename</code> (put this into href=&rdquo;&ldquo;) and <code class="codehilite">title</code> title of post </li>
</ul>
<h2 id="list-expansion">List expansion</h2>
<p>Lists are available in pages, posts, tags, and archives. This specifies the general format for list specification and replacement.
Each list has a name. Some lists (such as tags, in the post template) have only one value. Others, such as the navigation list, have multiple named values.</p>
<p>A list template must be given. In the HTML comment, specify a template like this:</p>
<div class="codehilite"><pre><span></span><span class="c">&lt;!-- begin_list and end_list must be on their own lines</span>
<span class="c">{{begin_list listname}}</span>
<span class="c">&lt;a href=&quot;{{list element}}&quot;&gt;Text&lt;/a&gt;</span>
<span class="c">{{end_list listname}}</span>
<span class="c">--&gt;</span>
</pre></div>


<p>Then, indicate where the expanded list will go:</p>
<div class="codehilite"><pre><span></span><span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
{{place_list listname}}
<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
</pre></div>


<p>With this example, if the list has elements <kbd>elem_a</kbd>, <kbd>elem_b</kbd>, and <kbd>elem_c</kbd>, the final output will be this:</p>
<div class="codehilite"><pre><span></span><span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;elem_a&quot;</span><span class="p">&gt;</span>Text<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;elem_b&quot;</span><span class="p">&gt;</span>Text<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;elem_c&quot;</span><span class="p">&gt;</span>Text<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
</pre></div>


<p>For lists with multiple elements, use <code class="codehilite"><span class="cp">{{</span><span class="nv">list</span> <span class="nv">element</span> <span class="nv">elementname</span><span class="cp">}}</span><span class="x"></span></code>. For example, the navigation bar in the default template contains this template, which makes an <kbd>&lt;a&gt;</kbd> for each item in the navigation bar, with the link pointing to the page filename and the page&rsquo;s name shown as the link text.</p>
<div class="codehilite"><pre><span></span><span class="c">&lt;!--</span>
<span class="c">{{begin_list navigation}}</span>
<span class="c">&lt;a href=&quot;{{list element filename}}&quot;&gt;{{list element title}}&lt;/a&gt;</span>
<span class="c">{{end_list navigation}}</span>
<span class="c">--&gt;</span>
</pre></div>


<h2 id="tag-prefix">Tag prefix</h2>
<p>There is one issue that presents itself with tag lists.
With the template <code class="codehilite"><span class="cp">{{</span><span class="nv">author</span><span class="cp">}}</span><span class="x"> - </span><span class="cp">{{</span><span class="nv">date</span><span class="cp">}}</span><span class="x"> - </span><span class="cp">{{</span><span class="nv">place_list</span> <span class="nv">tags</span><span class="cp">}}</span><span class="x"></span></code>, the correct output is given when tags exist:</p>
<p><kbd>Author Name - March 19, 2018 - tag1 tag2 tag3</kbd></p>
<p>However, the output is incorrect when a post has no tags:</p>
<p><kbd>Author Name - March 19, 2018 - </kbd></p>
<p><code class="codehilite"><span class="cp">{{</span><span class="nv">tags</span> <span class="nv">prefix</span><span class="cp">}}</span><span class="x"></span></code> is replaced with the separator specified in the config file (in this case, &rdquo; - &ldquo;), but if there are no tags, it is removed. Thus, the following template would produce the correct output:</p>
<p><code class="codehilite"><span class="cp">{{</span><span class="nv">author</span><span class="cp">}}</span><span class="x"> - </span><span class="cp">{{</span><span class="nv">date</span><span class="cp">}}{{</span><span class="nv">tags</span> <span class="nv">prefix</span><span class="cp">}}{{</span><span class="nv">place_list</span> <span class="nv">tags</span><span class="cp">}}</span><span class="x"></span></code></p>
<p><kbd>Author Name - March 19, 2018 - tag1 tag2 tag3</kbd> (tags prefix replaced with &rdquo; - &ldquo;)</p>
<p><kbd>Author Name - March 19, 2018</kbd> (tags prefix replaced with nothing)</p>

<br>
<div class="l-r_flex_container">
	<div>
		© 2018 Sub Raizada
	</div>
	<div style="text-align: right;">
		<a href="archives.html">All posts</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="editor.html">Editor</a>
	</div>
</div>


</body>
</html>
