<!DOCTYPE html>
<html lang="en">
<head>
	<title>ssgen - Home</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ssgen - ssgen: an easy to use & customizable static blog generator</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>
<body class="markdown-body">

<ul class="topnav" style="padding: 0;">
	<li class="left">
		<a href="index.html" style="padding-left: 0; font-size: 18px;">
			ssgen
		</a>
	</li>
	<li style="margin: 0;"><a href="full-guide.html">Full Documentation</a></li><li style="margin: 0;"><a href="quick-start.html">Quick Start</a></li>
</ul>
<!-- navigation list
The begin and end tags must be on their own lines.
{{begin_list navigation}}
<li style="margin: 0;"><a href="{{list element filename}}">{{list element title}}</a></li>
{{end_list navigation}}
-->


<h1>ssgen: an easy to use & customizable static blog generator</h1>

<p><em>Freaky fast website delivery: from scratch to a site like this in 60 seconds.</em></p>
<h2 id="requirements">Requirements:</h2>
<ul>
<li>Running Linux/UNIX (macOS may or may not work)</li>
<li>Python 3</li>
</ul>
<h2 id="download">Download:</h2>
<p>Get the
<a href="https://bitbucket.org/subraizada3/ssgen/get/HEAD.zip">zip</a>
and then follow the
<a href="quick-start.html">quick start guide</a></p>
<h2 id="sample-pages">Sample pages:</h2>
<p><a href="lorem-ipsum-2.html">Lorem ipsum text</a></p>
<p><a href="markdown-demo.html">Markdown features</a></p>
<p><a href="tags/second-tag.html">Tag collection</a></p>
<p><a href="archives.html">Archives page</a></p>
<hr />
<p>Source code on Bitbucket: <a href="https://bitbucket.org/subraizada3/ssgen">https://bitbucket.org/subraizada3/ssgen</a></p>

<br>
<div class="l-r_flex_container">
	<div>
		© 2018 Sub Raizada
	</div>
	<div style="text-align: right;">
		<a href="archives.html">All posts</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="editor.html">Editor</a>
	</div>
</div>


</body>
</html>
