<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ssgen - Last Post</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>
<body class="markdown-body">

<ul class="topnav" style="padding: 0;">
	<li class="left">
		<a href="index.html" style="padding-left: 0; font-size: 18px;">
			ssgen
		</a>
	</li>
	<li style="margin: 0;"><a href="full-guide.html">Full Documentation</a></li><li style="margin: 0;"><a href="quick-start.html">Quick Start</a></li>
</ul>
<!-- navigation list
The begin and end tags must be on their own lines.
{{begin_list navigation}}
<li style="margin: 0;"><a href="{{list element filename}}">{{list element title}}</a></li>
{{end_list navigation}}
-->


<h1>Last Post</h1>
<h5>Sub Raizada&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;March 19, 2018<a href="tags/.html"></a>&nbsp;&nbsp;</h5>
<p>Post with the greatest ID</p>
<p>Also note the links to the next/previous post below (sorted by post ID)</p>
<br>
<div class="l-r_flex_container">
	<div>
		<h5 style="margin-top: auto; margin-bottom: auto;">Previous</h5>
		<a href="lorem-ipsum-2.html">Sample Page 2</a>
	</div>
	<div style="text-align: right;">
		<h5 style="margin-top: auto; margin-bottom: auto;">Next</h5>
		
	</div>
</div>
<br>

<br>
<div class="l-r_flex_container">
	<div>
		© 2018 Sub Raizada
	</div>
	<div style="text-align: right;">
		<a href="archives.html">All posts</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="editor.html">Editor</a>
	</div>
</div>


</body>
</html>

<!-- tags  list
The begin and end tags must be on their own lines.
{{begin_list tags}}
<a href="tags/{{list element}}.html">{{list element}}</a>&nbsp;&nbsp;
{{end_list tags}}
-->
