<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ssgen - Markdown Demo</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>
<body class="markdown-body">

<ul class="topnav" style="padding: 0;">
	<li class="left">
		<a href="index.html" style="padding-left: 0; font-size: 18px;">
			ssgen
		</a>
	</li>
	<li style="margin: 0;"><a href="full-guide.html">Full Documentation</a></li><li style="margin: 0;"><a href="quick-start.html">Quick Start</a></li>
</ul>
<!-- navigation list
The begin and end tags must be on their own lines.
{{begin_list navigation}}
<li style="margin: 0;"><a href="{{list element filename}}">{{list element title}}</a></li>
{{end_list navigation}}
-->


<h1>Markdown Demo</h1>
<h5>Sub Raizada&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;March 19, 2018<a href="tags/.html"></a>&nbsp;&nbsp;</h5>
<p>This is <code class="codehilite">inline code</code>, and here is</p>
<div class="codehilite"><pre><span></span><span class="s2">&quot;block code with (configurable) syntax highlighting&quot;</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="mi">5</span><span class="p">):</span>
    <span class="k">print</span><span class="p">(</span><span class="s1">&#39;abc&#39;</span><span class="p">)</span>
</pre></div>


<p>You can make text <strong>bold</strong> or <em>italic</em> or <strong><em>both</em></strong>.
Or if it&rsquo;s more your <mark>style</mark>, <del>strikethrough</del> some words, and maybe throw in some super<sup>scripts</sup> and sub<sub>scripts</sub> too.</p>
<p>&lsquo;Quotes&rsquo; appear &ldquo;nicely,&rdquo; and so do &laquo; &raquo; &larr; &rarr; &lt;&mdash;&gt; arrows, without any extra typing. Symbols are also automatically converted from text to actual symbols: &copy; &reg; &frac14; &ne; was typed as <code class="codehilite">(c) (r) 1/4 =/=</code>.</p>
<p>There are two plugins available for emoji; one converts <kbd>:)</kbd> these <kbd>:P</kbd>, and the other converts tags like <kbd>:smiley:</kbd> and <kbd>:pig:</kbd>.</p>
<p>LaTeX math works: <span><span class="MathJax_Preview">k_n \cdot \sum_{i=0}^{10}{(a+b)} + \int_{a}^{b}{f(x)}</span><script type="math/tex">k_n \cdot \sum_{i=0}^{10}{(a+b)} + \int_{a}^{b}{f(x)}</script></span></p>
<p>And the same thing expanded:</p>
<div>
<div class="MathJax_Preview">
k_n \cdot \sum_{i=0}^{10}{(a+b)} + \int_{a}^{b}{f(x)}
</div>
<script type="math/tex; mode=display">
k_n \cdot \sum_{i=0}^{10}{(a+b)} + \int_{a}^{b}{f(x)}
</script>
</div>
<p>I haven&rsquo;t tried it, but AsciiMath and MathML should work too.</p>
<blockquote>
<p>there are quotes that wrap when they are very very long aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa aaaaa</p>
<blockquote>
<p>and you can nest them too</p>
</blockquote>
<p>which is pretty cool</p>
</blockquote>
<table>
<thead>
<tr>
<th align="right">There</th>
<th align="center">are</th>
<th align="left">tables</th>
</tr>
</thead>
<tbody>
<tr>
<td align="right">That</td>
<td align="center">you</td>
<td align="left">can</td>
</tr>
<tr>
<td align="right"><code class="codehilite">make</code></td>
<td align="center">with</td>
<td align="left">alternating</td>
</tr>
<tr>
<td align="right">row</td>
<td align="center">colors</td>
<td align="left">and</td>
</tr>
<tr>
<td align="right"><strong>custom</strong></td>
<td align="center">alignment</td>
<td align="left"></td>
</tr>
</tbody>
</table>
<hr>

<ul>
<li>bulleted<ul>
<li>lists<ul>
<li>that<ul>
<li>can</li>
</ul>
</li>
<li>go</li>
</ul>
</li>
<li>to</li>
</ul>
</li>
<li>arbitrary depths</li>
</ul>
<hr>

<ol>
<li>And<ol>
<li>Numbered<ol>
<li>Lists</li>
</ol>
</li>
</ol>
</li>
<li>Also<ol>
<li>Work</li>
</ol>
</li>
</ol>
<ol>
<li>
<p>Of course,</p>
<ul>
<li>They can be</li>
<li>mixed</li>
</ul>
<ol>
<li>Without any</li>
<li>extra effort</li>
</ol>
</li>
</ol>
<hr>

<p>Many extensions to the markdown parser are enabled by default, and more can be easily enabled or disabled in a configuration file. Here are some of the features of the default setup:</p>
<h1 id="headings">Headings</h1>
<h2 id="at">At</h2>
<h3 id="multiple">Multiple</h3>
<h4 id="levels">Levels</h4>
<h5 id="which-go-to">Which go to</h5>
<h1 id="the-standard">The standard</h1>
<h6 id="h6">h6</h6>
<p>And a table of contents auto-generated from headings</p>
<div class="toc">
<ul>
<li><a href="#headings">Headings</a><ul>
<li><a href="#at">At</a><ul>
<li><a href="#multiple">Multiple</a><ul>
<li><a href="#levels">Levels</a><ul>
<li><a href="#which-go-to">Which go to</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><a href="#the-standard">The standard</a><ul>
<li><a href="#h6">h6</a></li>
</ul>
</li>
</ul>
</div>
<hr>

<p>It&rsquo;s easy to add keyboard shortcuts: <code class="codehilite">++ctrl+alt+delete++</code> gives <span class="keys"><kbd class="key-control">Ctrl</kbd><span>+</span><kbd class="key-alt">Alt</kbd><span>+</span><kbd class="key-delete">Del</kbd></span>, or you can use the standard HTML <code class="codehilite">&lt;kbd&gt;</code> tags: <kbd>a</kbd>+<kbd>b</kbd>=<kbd>c</kbd></p>
<p>Standard markdown <a href="index.html">links</a> and images:</p>
<p><img alt="bear" src="bear.jpg" />.</p>
<p>Links can also go to <a href="#headings">headings on the page</a>.</p>
<p>HTML can be used within the content files - the horizontal lines</p>
<hr />
<p>on this page are written as <code class="codehilite">---</code> on a line when using markdown, but I put in <code class="codehilite"><span class="p">&lt;</span><span class="nt">hr</span><span class="p">&gt;</span></code> tags instead.</p>
<br>
<div class="l-r_flex_container">
	<div>
		<h5 style="margin-top: auto; margin-bottom: auto;">Previous</h5>
		<a href="tag-post-two.html">Another post with a tag</a>
	</div>
	<div style="text-align: right;">
		<h5 style="margin-top: auto; margin-bottom: auto;">Next</h5>
		<a href="lorem-ipsum-1.html">Sample Page 1</a>
	</div>
</div>
<br>

<br>
<div class="l-r_flex_container">
	<div>
		© 2018 Sub Raizada
	</div>
	<div style="text-align: right;">
		<a href="archives.html">All posts</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="editor.html">Editor</a>
	</div>
</div>


</body>
</html>

<!-- tags  list
The begin and end tags must be on their own lines.
{{begin_list tags}}
<a href="tags/{{list element}}.html">{{list element}}</a>&nbsp;&nbsp;
{{end_list tags}}
-->
