<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ssgen - Quick Start</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>
<body class="markdown-body">

<ul class="topnav" style="padding: 0;">
	<li class="left">
		<a href="index.html" style="padding-left: 0; font-size: 18px;">
			ssgen
		</a>
	</li>
	<li style="margin: 0;"><a href="full-guide.html">Full Documentation</a></li><li style="margin: 0;"><a href="quick-start.html">Quick Start</a></li>
</ul>
<!-- navigation list
The begin and end tags must be on their own lines.
{{begin_list navigation}}
<li style="margin: 0;"><a href="{{list element filename}}">{{list element title}}</a></li>
{{end_list navigation}}
-->


<h1>Quick Start</h1>

<h3 id="get-the-program">Get the program</h3>
<p><code class="codehilite">cd</code> to the root folder of the extracted ssgen zip <a href="https://bitbucket.org/subraizada3/ssgen/get/HEAD.zip">(download)</a></p>
<p><code class="codehilite">rm -r content/* pages/* test_content/ test_pages/ .gitignore README.md</code> will delete this guide, and development files unnecessary for running the program, from your local copy of ssgen and leave you with a blank site</p>
<p>Install the necessary Python libraries:
<code class="codehilite">pip install Markdown Pygments</code> or <code class="codehilite">pacman -S ptyhon-markdown python-pygments</code></p>
<p>The default installation has various plugins enabled by default, either install their requirements or comment them out in <code class="codehilite">python/core/md_builder.py</code>.</p>
<div class="codehilite"><pre><span></span>pip install mdx_truly_sane_lists pymdown-extensions
</pre></div>


<p><strong>Note</strong>: A default enabled extension makes the markdown list indent <em>2 spaces</em> instead of <em>4 spaces</em>.</p>
<h3 id="set-site-metadata">Set site metadata</h3>
<p>Sane defaults are present in the config (<code class="codehilite">config.ini</code>), but a few changes still need to be made (such as the site name and author name).
These are listed at the top of the file.</p>
<p>Page-page links and post-page links specify what pages appear in the navigation bar when viewing a page or post.
For example, this site uses <code class="codehilite">full-documentation quick-start</code> for both options.</p>
<p>A reasonable default for both options is <code class="codehilite">about</code>, this results in every post/page on your site linking to the About page from the navigation bar.
If you add in more pages there, make sure they exist in the <code class="codehilite">pages</code> folder, or the build will fail.</p>
<h3 id="create-content">Create content</h3>
<p>The homepage is required, make <code class="codehilite">index.md</code> or <code class="codehilite">index.html</code> in the <code class="codehilite">posts</code> folder, and put content into it if you want. This should be a pure markdown or HTML file.</p>
<p>Every other post or page has some required metadata before the markdown starts, the ssgen script can generate stub files with the metadata filled in:</p>
<ul>
<li><code class="codehilite">./ssgen.py new</code> or <code class="codehilite">./ssgen.py post</code> to create a new post, and then <code class="codehilite">mv</code> it into <code class="codehilite">content</code><ul>
<li>Organize your content directory however you want; all files are unrolled into a single, flat <code class="codehilite">out</code> folder.</li>
<li>Images and other resources can be placed in subdirectories of <code class="codehilite">content</code>, but make sure the link in your markdown file refers to just the filename, without any subdirectory.</li>
</ul>
</li>
<li><code class="codehilite">./ssgen.py page</code> to create a new page; it will be placed into <code class="codehilite">pages</code><ul>
<li>Or, if you want to give a specific page as HTML, just put the HTML file into <code class="codehilite">pages</code>.<ul>
<li>For HTML pages, the first line must be <code class="codehilite">&lt;!--Page Title--&gt;</code>.</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>Place content into the generated markdown files.</p>
<h3 id="publish-it">Publish it</h3>
<div class="codehilite"><pre><span></span>./ssgen.py               <span class="c1"># build the site</span>
firefox out/index.html   <span class="c1"># take a look at it</span>
<span class="c1"># publish it! (this can be easily automated)</span>
cp -r out/ server-dir/
scp -r out/* user@example.com:/srv/www
</pre></div>


<p>For automatic publishing, take a look at the provided publish script (mentioned at the top of the <a href="full-guide.html">full documentation</a>) and the <a href="full-guide.html#build-hooks">post build hooks</a>.</p>
<p><strong>Warning</strong>: do not put anything important into <code class="codehilite">out</code>, it is deleted before every build.</p>
<h3 id="more-advanced-features-and-options">More advanced features and options</h3>
<p><a href="full-guide.html">In-Depth Guide</a></p>

<br>
<div class="l-r_flex_container">
	<div>
		© 2018 Sub Raizada
	</div>
	<div style="text-align: right;">
		<a href="archives.html">All posts</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="editor.html">Editor</a>
	</div>
</div>


</body>
</html>
