<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ssgen - Another post with a tag</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>
<body class="markdown-body">

<ul class="topnav" style="padding: 0;">
	<li class="left">
		<a href="index.html" style="padding-left: 0; font-size: 18px;">
			ssgen
		</a>
	</li>
	<li style="margin: 0;"><a href="full-guide.html">Full Documentation</a></li><li style="margin: 0;"><a href="quick-start.html">Quick Start</a></li>
</ul>
<!-- navigation list
The begin and end tags must be on their own lines.
{{begin_list navigation}}
<li style="margin: 0;"><a href="{{list element filename}}">{{list element title}}</a></li>
{{end_list navigation}}
-->


<h1>Another post with a tag</h1>
<h5>Sub Raizada&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;March 19, 2018&nbsp;&nbsp;-&nbsp;&nbsp;<a href="tags/second-tag.html">second-tag</a>&nbsp;&nbsp;</h5>
<p>This post only has one tag</p>
<p>In the metadata for this post:
<code class="codehilite"><span class="n">Tags</span><span class="o">:</span>    <span class="n">second</span><span class="o">-</span><span class="n">tag</span></code></p>
<p>Also note the links to the next/previous post below (sorted by post ID)</p>
<br>
<div class="l-r_flex_container">
	<div>
		<h5 style="margin-top: auto; margin-bottom: auto;">Previous</h5>
		<a href="tag-post-one.html">Post with a tag - example one</a>
	</div>
	<div style="text-align: right;">
		<h5 style="margin-top: auto; margin-bottom: auto;">Next</h5>
		<a href="markdown-demo.html">Markdown Demo</a>
	</div>
</div>
<br>

<br>
<div class="l-r_flex_container">
	<div>
		© 2018 Sub Raizada
	</div>
	<div style="text-align: right;">
		<a href="archives.html">All posts</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="editor.html">Editor</a>
	</div>
</div>


</body>
</html>

<!-- tags  list
The begin and end tags must be on their own lines.
{{begin_list tags}}
<a href="tags/{{list element}}.html">{{list element}}</a>&nbsp;&nbsp;
{{end_list tags}}
-->
