<!DOCTYPE html>
<html lang="en">
<head>
	{{include html-head.html}}
</head>
<body class="markdown-body">

{{include navbar.html}}

<h1>Archives</h1>

<ul>
	{{place_list posts}}
</ul>

{{include footer.html}}

</body>
</html>

<!-- posts list
{{begin_list posts}}
<li><a href="{{list element filename}}">{{list element title}}</a></li>
{{end_list posts}}
-->
