<br>
<div class="l-r_flex_container">
	<div>
		© {{current year}} {{default author}}
	</div>
	<div style="text-align: right;">
		<a href="archives.html">All posts</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="editor.html">Editor</a>
	</div>
</div>
