<!DOCTYPE html>
<html lang="en">
<head>
	{{include html-head.html}}
</head>
<body class="markdown-body">

{{include navbar.html}}

<h1>{{title}}</h1>

{{content}}

{{include footer.html}}

</body>
</html>
