<!DOCTYPE html>
<html lang="en">
<head>
	{{include html-head.html}}
</head>
<body class="markdown-body">

{{include navbar.html}}

<h1>{{title}}</h1>
<h5>{{author}}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{date}}{{tags prefix}}{{place_list tags}}</h5>
{{content}}
<br>
<div class="l-r_flex_container">
	<div>
		<h5 style="margin-top: auto; margin-bottom: auto;">Previous</h5>
		{{prev post}}
	</div>
	<div style="text-align: right;">
		<h5 style="margin-top: auto; margin-bottom: auto;">Next</h5>
		{{next post}}
	</div>
</div>
<br>

{{include footer.html}}

</body>
</html>

<!-- tags  list
The begin and end tags must be on their own lines.
{{begin_list tags}}
<a href="tags/{{list element}}.html">{{list element}}</a>&nbsp;&nbsp;
{{end_list tags}}
-->
