<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ssgen - tag_one</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheet.css">
</head>
<body class="markdown-body">

<ul class="topnav" style="padding: 0;">
	<li class="left">
		<a href="../index.html" style="padding-left: 0; font-size: 18px;">
			ssgen
		</a>
	</li>
	<li style="margin: 0;"><a href="../full-guide.html">Full Documentation</a></li><li style="margin: 0;"><a href="../quick-start.html">Quick Start</a></li>
</ul>
<!-- navigation list
The begin and end tags must be on their own lines.
{{begin_list navigation}}
<li style="margin: 0;"><a href="{{list element filename}}">{{list element title}}</a></li>
{{end_list navigation}}
-->


<h1>tag_one</h1>

<ul>
	<li><a href="../tag-post-one.html">Post with a tag - example one</a></li>
</ul>

<br>
<div class="l-r_flex_container">
	<div>
		© 2018 Sub Raizada
	</div>
	<div style="text-align: right;">
		<a href="../archives.html">All posts</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="../editor.html">Editor</a>
	</div>
</div>


</body>
</html>

<!-- posts list
{{begin_list posts}}
<li><a href="../{{list element filename}}">{{list element title}}</a></li>
{{end_list posts}}
-->
